@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mohave&display=swap');


.App {
  text-align: cente;
  width: auto;
  height: auto;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.LandingPage{
  
  
  position: relative;
  width: 1536px;
  height: 712px;
  background: linear-gradient(180deg, #89E3FF 0%, #000000 100%);
 


}
.navbar-brand{
  position: absolute;
width: 67px;
height: 30px;
left: 52px;
top: 30px;
text-decoration:none;

font-family: 'Gugi';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;



color: #000000;

  /*position: absolute;
  width: 67px;
  height: 30px;
  left: 100px;
  top: 20px;
  text-decoration:none;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;*/
}
.navbar-brand2
{
  position: absolute;
width: 150px;
height: 30px;
left: 1350px;
top: 30px;
text-decoration:none;

font-family: 'Gugi';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #000000;}


.scheduleit{
  position: absolute;
width: 700px;
height: 103px;
left: 500px;
top: 10px;

font-family: 'Mukta Mahee';
font-style: normal;
font-weight: 400;
font-size: 83px;
line-height: 138px;

color: #000000;


  /*position: absolute;
  width: 500px;
  height: 100px;
  left: 100px;
  /*top: 2px;*/

  /*font-family: 'Mukta Mahee';
  font-family: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 104px;
  color: #000000;*/
  }

 .btn-outline-secondary{
  border-radius: 50px;
  font-size: 15px;
  color: black;
  font-family: 'Gugi' ;
  position: absolute;
  font-weight: bold;
  width: 150px;
  height: 50px;
  align-self: center;
  left: 100px;
  top: 600px;
  position: absolute;
  background: #D9D9D9;
  mix-blend-mode: soft-light;
  border-radius: 40px;

 /* position: absolute;
  font-size: 15px;
  width: 150px;
  font-weight: bold;
  height: 50px;
  left: 100px;
  top: 600px;
  background: #D9D9D9;
  mix-blend-mode: soft-light;
  border-radius: 40px;
  */
} 
.Login{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gugi';
  color: #000000;
  width: 150px;
  height: 50px;
  left: 300px;
  top: 600px;
  background: #D9D9D9;
  mix-blend-mode: soft-light;
  border-radius: 40px;

}

.brown{
  color:white;
}
.text1{
  position: absolute;
width: 700px;
height: 200px;
left: 86px;
top: 230px;

font-family: 'Oxygen Mono';
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 25px;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*position: absolute;
  width: 800px;
  height: 419px;
  left: 100px;
  top: 200px;
  text-align: left ;

  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.LoginPage{
  
  
  position: absolute;
  width: 1536px;
  height: 713px;
  background: linear-gradient(180deg, #89E3FF 0%, #000000 100%);
 


}
.card {
  /* position :relative;
   width: 900px;
  height: 500px; 
  
  display: flex;
  flex-direction:column;
  justify-content: center;
  top:200px;
  left:600px; 

  

  padding: 35px;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(134, 129, 129, 0.534);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px); */
  position: absolute;
  width: 950px;
  height: 550px;
  left: 300px;
  top: 110px;
  
  background: rgba(217, 217, 217, 0.18);
  border-radius: 72px;
}
.text2{
  position: absolute;
width: 155px;
height: 89px;
left: 220px;
top: 20px;

font-family: 'Gugi';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 89px;

color: #000000;
}

.schedule_it2{
position: absolute;
width: 474px;
height: 133px;
left: 560px;
top: 90px;

font-family: 'Monomaniac One';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 133px;

color: #FFFFFF;


text-shadow: 0px 18px 0px rgba(0, 0, 0, 0.25);
}
.text2_line{
  position: absolute;
width: 483px;
height: 45px;
left: 590px;
top: 250px;

font-family: 'Mohave';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 45px;
/* identical to box height */


color: #000000;
}

.sign_in2{
  position: absolute;
  font-size: 15px;

  font-family: 'Gugi';
  color: white;
  width: 150px;
  height: 50px;
  left: 170px;
  top: 400px;
  background: #050505;
  mix-blend-mode: soft-light;
  border-radius: 40px;


}

.forgot{
  
position: absolute;
width: 163px;
height: 33px;
left: 100px;
top: 300px;
text-decoration:none;

font-family: 'Mohave';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 33px;

color: #D9D9D9;
}

.inputBox {
  position: relative;
}

.inputBox input {
  position:relative;
  width: 30%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #000000;
 
 
  letter-spacing: 0.062rem;
  
  border: none;
  border-bottom: 0.065rem solid #000000;
  outline: none;
  background: transparent;
}

.inputBox label {
  position: absolute;
  top:0;
  left:0;
  font-family: 'Mohave';


  
  padding: 0.625rem 0;
  font-size: 1.25rem;
  color: #ffffff;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label,
.inputBox input:not([value=""]) ~ label {
  top: -1.125rem;
  left: 0;
  color: #03a9f4;
  font-size: 0.75rem;
}





  .form {
    padding: 2rem 1rem 0;
    margin-top:18%;
    margin-left:25%;
  
  }
  
  .SignupPage{
  
  
    position: absolute;
    width: 1536px;
    height: 712px;
    background: linear-gradient(180deg, #89E3FF 0%, #000000 100%);
   
  
  
  }
  .text3{
    position: absolute;
  width: 155px;
  height: 89px;
  left: 220px;
  top: 20px;
  
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 89px;
  
  color: #000000;
  }

  .inputBox2 {
    position: relative;
  }
  
  .inputBox2 input {
    position:relative;
    width: 30%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #000000;
   
   
    letter-spacing: 0.062rem;
    
    border: none;
    border-bottom: 0.065rem solid #000000;
    outline: none;
    background: transparent;
  }
  
  .inputBox2 label {
    position: absolute;
    top:0;
    left:0;
    font-family: 'Mohave';
  
  
    
    padding: 0.625rem 0;
    font-size: 1.25rem;
    color: #ffffff;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .inputBox2 input:focus ~ label,
  .inputBox2 input:valid ~ label,
  .inputBox2 input:not([value=""]) ~ label {
    top: 0;
    left: 0;
    color: #ffffff;
    font-size: 1,25rem;
  }
  
  
  
  
  
.form2 {
      padding: 2rem 1rem 0;
      margin-top:18%;
      margin-left:25%;
    
    }

.BookRoom{
  
  
      position: absolute;
      width: 1536px;
      height: 713px;
      background: linear-gradient(180deg, #89E3FF 0%, #000000 100%);
     
    
    
    }

.navbar-brand3
    {
      position: absolute;
    width: 150px;
    height: 30px;
    left: 1350px;
    top: 30px;
    text-decoration:none;
    
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;}
  .navbar-brand4
    {
      position: absolute;
    width: 150px;
    height: 30px;
    left: 1200px;
    top: 30px;
    text-decoration:none;
    
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;}
  .navbar-brand5
    {
      position: absolute;
    width: 200px;
    height: 30px;
    left: 1000px;
    top: 30px;
    text-decoration:none;
    
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #000000;}
    .text3{
      position: absolute;
    width: 500px;
    height: 89px;
    left: 200px;
    top: 80px;
    
    font-family: 'Mohave';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 89px;
    
    color: #000000;
    }

    .inputBox3 {
      position: relative;
    }
    
    .inputBox3 input {
      position:relative;
      width: 30%;
      padding: 0.625rem 0;
      font-size: 2rem;
      color: #000000;
     
     
      letter-spacing: 0.062rem;
      
      border: none;
      border-bottom: 0.065rem solid #000000;
      outline: none;
      background: transparent;
    }
    
    .inputBox3 label {
      position: absolute;
      top:0;
      left:0;
      font-family: 'Mohave';
    
    
      
      padding: 0.625rem 0;
      font-size: 1.25rem;
      color: #ffffff;
      pointer-events: none;
      transition: 0.5s;
    }
    
    .inputBox3 input:focus ~ label,
    .inputBox3 input:valid ~ label,
    .inputBox3 input:not([value=""]) ~ label {
      top: 0;
      left: 0;
      color: #ffffff;
      font-size: 2rem;
    }
    
    
    
    
    
  .form3 {
        padding: 2rem 1rem 0;
        margin-top:15%;
        margin-left:10%;
      
      }
.Book{
  position: absolute;
  font-size: 15px;

  font-family: 'Gugi';
  color: white;
  width: 150px;
  height: 50px;
  left: 1100px;
  top: 500px;
  background: #050505;
  mix-blend-mode: soft-light;
  border-radius: 40px;
 }
/* .form_col2{
  margin-left:35%;
  margin-top:2%;
} */