@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

@font-face{
  font-family: 'Monomaniac One';
  src: url("./fonts/MonomaniacOne-Regular.ttf")
  format('opentype');
}

.App {
  overflow:hidden; 
  width: auto;
  height: auto;
  overflow-y:hidden;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Landing page*/
.LandingPage{
  position: relative;
  width: auto;
  height:100vh;
  background: linear-gradient(180deg, #89E3FF 0%, #000000 100%);
}




.navbar-brand{
  position: absolute;
  width: 67px;
  height: 30px;
  left: 33px;
  top: 12px;
  text-decoration: none;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.LogIn
{
  position: absolute;
  width: 72px;
  height: 30px;
  right: 33px;
  top: 12px;
  text-decoration: none;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.SignIn{
  position: absolute;
  width: 91px;
  height: 30px;
  right:100px;
  left:auto;
  text-decoration:none;
  top: 12px;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;

}

.text1{
  position: absolute;
  width: 658px;
  height: 382px;
  left: 360px;
  top: 14vh;
  font-family: 'Moulpali';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 0.75em;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Scheduleit{
  position: absolute;
  width: 659px;
  height: 185px;
  left: 350px;
  bottom:0.5vh;
  text-decoration: none;
  font-family: 'Monomaniac One';
  font-style: normal;
  font-weight: 400;
  font-size: 115px;
  line-height: 185px;
  color: #FFFFFF;
  text-shadow: 0px 18px 0px rgba(0, 0, 0, 0.25);
  }


.btn{
  position: absolute;
  width: 214px;
  height: 70px;
  left: 520px;
  bottom:50px;
  background: #000000;
  border-radius: 56px;
  position: absolute;
  font-family: 'Monomaniac One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #FFFFFF;
  cursor: pointer;


}
.button:hover {
  background-color: #4CAF50; /* Green */
}

.brown{
  color:white;
}

.Requests{
  position: relative;
  width: auto;
  height:100vh;
  background: linear-gradient(180deg, #89E3FF 0%, #000000 100%);
  overflow:hidden; 
  overflow-y:hidden;
}

.Request{
  position: absolute;
  text-decoration: none;
  color: #000000;
  width: 72px;
  height: 30px;
  right: 14em;
  top: 12px;
  text-decoration: none;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;

}

.Time-table
{
  position: absolute;
  text-decoration: none;
  color: #000000;
  width: 127px;
  height: 30px;
  right: 5em;
  top: 12px;
  text-decoration: none;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.User{
  position: absolute;
  text-decoration: none;
  color: #000000;
  width: 72px;
  height: 30px;
  right: 1em;
  top: 12px;
  text-decoration: none;
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;

}

.head{
  position: absolute;
  width: 226px;
  height: 89px;
  left: 32px;
  top: 50px;
  font-family: 'Mohave';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 89px;
  color: #000000;

}



.dropdown {
  position: absolute;
  width: 250px;
  height: 70px;
  left: 250px;
  top: 110px;
  
}

button{
  border:none;
  border-radius:3px;
  padding: 8px 30px;
  font-size:18px;
  cursor:pointer;
  background-color: rgb(255, 255, 255);
}

button:hover{
  background-color:#ddd;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:3px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 3px;
  text-decoration: none;
  padding:20px 40px;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:3px;
}




